@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.scale-marker svg {
  scale: 1.25;
}

.mapboxgl-marker svg {
  transform-origin: bottom;
  transition: scale 0.2s;
}

.offscreen {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
