@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.scale-marker svg {
  scale: 1.25;
}

.mapboxgl-marker svg {
  transform-origin: bottom;
  transition: scale 0.2s;
}

.offscreen {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

:root {
  --ico-1-fill: #FFF;
  --ico-2-fill: #666;
}

.ico-1 {
  fill: var(--ico-1-fill);
}
.ico-2 {
  fill: var(--ico-2-fill);
}
.op-6 {
  opacity: 0.6;
}
.op-5 {
  opacity: 0.5;
}

.marker {
  /* we want to adjust the marker position however the map positions it so use a
  negative margin to offset the markers so the bottom of the marker is in the
  position set by mapbox. */
  margin-top: -20px;
}

.add-marker .icon use {
  --ico-2-fill: #4caf50;
}

.current-location-marker .icon use {
  --ico-2-fill: #09F;
}

.average-marker .icon use {
  --ico-2-fill: #00159f;
}

.tooltip {
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  font-size: 90%;
  align-items: center;
}

.tooltip-arrow {
  position: absolute;
  background: #222;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}
